@model WebBannuochoa.Models.NUOCHOA

@{
    ViewBag.Title = "themNH";
    Layout = "~/Views/Admin/LayoutAdmin.cshtml";
}

<div class="content-box-header">
    <div class="panel-title">THÊM SẢN PHẨM</div>
</div>
<form action="/Admin/themNH" method="post" enctype="multipart/form-data">
 
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 style="font:bold;font-size:12">NƯỚC HOA:</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.TenNH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4">
                    @Html.EditorFor(model => model.TenNH, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.TenNH, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Giaban, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Thetich, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Thetich, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Thetich, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Mota, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <textarea name="Mota">Mô tả thông tin nước hoa</textarea>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Soluongton, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-2">
                    @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Anhbia, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="fileupload" />
                    @ViewBag.Thongbao
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ngaycapnhat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="date" name="Ngaycapnhat" />
                    @Html.ValidationMessageFor(model => model.Ngaycapnhat)
                </div>
            </div>



            <div class="form-group">
                @Html.LabelFor(model => model.MaLoai, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaLoai")
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.MaH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("MaH")
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-default">Thêm</button>
                </div>
            </div>
        </div>
    </form>

    <div>
        @Html.ActionLink("Trở Về", "Nuochoa")
    </div>
